
Assets/.DS_Store

Assets/2DSprites/.DS_Store

Library/

Logs/

Temp/

.idea/

.vs/

*.csproj

*.sln

*.cache

Assets/ScriptableObject/GnomeGreen.asset~parent of 2df2ea3... Merge remote-tracking branch 'clickerclicker.meta
